$primary: #067738;

$error: #e1251b;

$gray-200: #eff2f4;
$gray-500: #707070;
$gray-800: #323e48;
$gray-900: #141414;

$font-family-sans-serif: 'Montserrat', sans-serif;

$link-hover-color: $error;
$link-hover-decoration: none;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px,
);

$container-max-widths: (
  sm: 1595px,
  md: 1595px,
  lg: 1595px,
  xl: 1595px,
  xxl: 1595px,
);
