<template>
  <div class="socials" :class="`socials--${variant}`">
    <a
      v-for="(item, index) in socials"
      :key="index"
      :href="item.link"
      class="socials__link"
      target="_blank"
    >
      <component :is="item.icon" class="socials__icon" width="40" height="40" />
    </a>
  </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue';

import facebook from '~/assets/icons/facebook.svg';
import facebookDark from '~/assets/icons/facebook-dark.svg';
import linkedin from '~/assets/icons/linkedin.svg';
import linkedinDark from '~/assets/icons/linkedin-dark.svg';
import telegram from '~/assets/icons/telegram.svg';
import telegramDark from '~/assets/icons/telegram-dark.svg';
import viber from '~/assets/icons/viber.svg';

// FIXME: replace types
interface SocialsProps {
  icon: string;
  link: string;
}

export default Vue.extend({
  components: {
    facebook,
    facebookDark,
    linkedin,
    linkedinDark,
    telegram,
    telegramDark,
    viber,
  },
  props: {
    socials: {
      type: Array as PropType<SocialsProps[]>,
      required: true,
    },
    variant: {
      type: String as PropType<string>,
      default: (): string => 'light',
    },
  },
});
</script>

<style lang="scss">
.socials {
  display: flex;
  align-items: center;

  &__link {
    &:not(:last-of-type) {
      margin-right: 30px;
    }

    @include hover-focus-active() {
      color: $white;
      text-decoration: none;
    }
  }

  &--dark &__link {
    color: $black;
    transition: color 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
  }

  &__icon {
    width: 40px;
    height: 40px;
  }

  &--dark &__link {
    @include hover-focus-active {
      color: $error;
    }
  }

  &--dark &__icon {
    width: 30px;
    height: 30px;
  }
}
</style>
