<template>
  <div class="vacancies-image" :class="`vacancies-image--${size}`">
    <div
      ref="parallax"
      class="vacancies-image__wrapper"
      style="transform: translateZ(0)"
    >
      <GImage :src="source" class="vacancies-image__item" />
    </div>
  </div>
</template>

<script lang="ts">
import Vue, { VueConstructor, PropType } from 'vue';

import Rellax from 'rellax';

interface ComponentInstance {
  rellax: any;
}

export default (Vue as VueConstructor<Vue & ComponentInstance>).extend({
  props: {
    source: {
      type: String as PropType<string>,
      required: true,
    },
    size: {
      type: String as PropType<string>,
      default: (): string => 'sm',
    },
  },
  data() {
    return {
      rellax: null,
    };
  },
  mounted() {
    this.rellax = new Rellax(this.$refs.parallax, { speed: -2, center: true });
  },
  beforeDestroy() {
    this.rellax.destroy();
  },
});
</script>

<style lang="scss">
.vacancies-image {
  position: absolute;
  overflow: hidden;

  &--sm {
    width: 625px;
    height: 400px;
  }

  &--md {
    width: 835px;
    height: 525px;
  }

  &__wrapper {
    @include accelerate();

    width: 100%;
    height: 120%;
    margin-top: -10%;
  }

  &__item {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
</style>
