<template>
  <div class="vacancies-content">
    <div class="vacancies-content__title" data-subtitle="вакансії">
      Стань частиною команди
    </div>
    <div class="vacancies-content__desc">
      Команда птахофабрики - це понад 1200 кваліфікованих спеціалістів, які
      працюють у 7 областях України. Підприємство має філіали у
      Володимир-Волинському, Києві, Харкові, Львові, Житомирі, Вінниці, Одесі.
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({});
</script>

<style lang="scss">
.vacancies-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 80px;
  color: $white;

  &__title {
    position: relative;
    flex: 0 0 45%;
    max-width: 45%;
    padding-left: 85px;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.7;

    &::before {
      position: absolute;
      top: -60px;
      left: 0;
      font-size: 14px;
      line-height: 1.3;
      font-weight: 600;
      text-transform: uppercase;
      content: attr(data-subtitle);
    }
  }

  &__desc {
    flex: 0 0 45%;
    max-width: 45%;
    margin-top: 15px;
    font-size: 18px;
    line-height: 2;
  }
}
</style>
