<template>
  <div class="vacancies-card">
    <div class="vacancies-card__title">Керівник IT відділу</div>
    <div class="vacancies-card__desc">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna
    </div>
    <GLink to="/" class="vacancies-card__link">
      <span class="vacancies-card__city">володимир-ВОЛИНСЬКИЙ</span>
      <span class="vacancies-card__icon">
        <RightArrowIcon class="vacancies-card__arrow" width="36" />
      </span>
    </GLink>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

import RightArrowIcon from '~/assets/icons/right-arrow.svg';

export default Vue.extend({
  components: {
    RightArrowIcon,
  },
});
</script>

<style lang="scss">
.vacancies-card {
  display: flex;
  flex-direction: column;
  height: 455px;
  background-color: $white;

  &__title {
    padding-top: 50px;
    padding-right: 35px;
    padding-left: 35px;
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.3;
    color: $black;
  }

  &__desc {
    padding: 0 35px;
    font-size: 18px;
    line-height: 1.9;
    color: $gray-800;
  }

  &__link {
    display: flex;
    margin-top: auto;
    border-top: 1px solid $gray-500;

    @include hover-focus-active() {
      text-decoration: none;
    }
  }

  &__city {
    flex-grow: 1;
    padding: 20px 30px;
    font-size: 14px;
    line-height: 1.4;
    text-transform: uppercase;
    color: $black;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 68px;
    border-left: 1px solid $gray-500;
    transition: background-color 0.3s cubic-bezier(0.47, 0, 0.745, 0.715),
      color 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
  }

  &__link:hover &__icon,
  &__link:focus &__icon,
  &__link:active &__icon {
    background-color: $primary;
    color: $white;
  }

  &__arrow {
    width: 36px;
  }
}
</style>
