<template>
  <div ref="container" class="vacancies container-animation">
    <BContainer class="vacancies__container">
      <BlockVacanciesImage
        :source="require('~/assets/images/team.jpg')"
        size="md"
        class="vacancies__family"
      />
      <BlockVacanciesImage
        :source="require('~/assets/images/team-2.jpg')"
        size="sm"
        class="vacancies__team"
      />
      <div ref="content" class="vacancies__wrapper content-animation">
        <BlockVacanciesContent />
        <div class="vacancies__grid">
          <BlockVacanciesCard v-for="index in 3" :key="index" />
        </div>
        <BaseButton to="/" class="vacancies__more" variant="light">
          більше вакансій
        </BaseButton>
      </div>
    </BContainer>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

import BlockVacanciesImage from './BlockVacanciesImage.vue';
import BlockVacanciesContent from './BlockVacanciesContent.vue';
import BlockVacanciesCard from './BlockVacanciesCard.vue';
import BaseButton from '~/components/base/BaseButton.vue';

import contentAnimation from '~/mixins/content-animation';

export default Vue.extend({
  components: {
    BlockVacanciesImage,
    BlockVacanciesContent,
    BlockVacanciesCard,
    BaseButton,
  },
  mixins: [contentAnimation],
});
</script>

<style lang="scss">
.vacancies {
  margin-top: 580px;

  &__container {
    position: relative;
    padding-top: 255px;
    padding-bottom: 60px;
  }

  &__family {
    top: -450px;
    left: 0;
  }

  &__team {
    top: -235px;
    right: 0;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 100px;
    margin-bottom: 60px;
  }

  &__more {
    margin-left: auto;
  }
}
</style>
