html {
  min-width: 1920px;
}

main {
  background-color: #ffffff;
}

.container-animation {
  background-color: $white;
  transition: background-color 0.4s cubic-bezier(0.47, 0, 0.745, 0.715);

  &.active {
    background-color: $gray-900;
  }
}

.content-animation {
  opacity: 0;
  transition: opacity 0.4s cubic-bezier(0.47, 0, 0.745, 0.715);

  &.active {
    opacity: 1;
  }
}

.page-content {
  position: relative;
  z-index: 1;
}
