<template>
  <form class="feedback-form">
    <BaseField
      id="feedbackName"
      v-model="formData.name"
      type="text"
      class="feedback-form__control"
    >
      Ім’я
    </BaseField>
    <BaseField
      id="feedbackPhone"
      v-model="formData.phone"
      type="text"
      class="feedback-form__control"
    >
      Телефон або e-mail
    </BaseField>
    <BaseField
      id="feedbackQuestions"
      v-model="formData.questions"
      type="text"
      class="feedback-form__control"
    >
      Ваше запитання
    </BaseField>

    <BaseButton variant="dark" type="submit" class="feedback-form__submit">
      відправити
    </BaseButton>
  </form>
</template>

<script lang="ts">
import Vue from 'vue';

import BaseField from '~/components/base/BaseField.vue';
import BaseButton from '~/components/base/BaseButton.vue';

export default Vue.extend({
  components: {
    BaseField,
    BaseButton,
  },
  data() {
    // FIXME: add form validation
    return {
      formData: {
        name: '',
        phone: '',
        questions: '',
      },
    };
  },
});
</script>

<style lang="scss">
.feedback-form {
  &__control {
    &:not(:last-of-type) {
      margin-bottom: 75px;
    }
  }

  &__submit {
    margin-top: 80px;
  }
}
</style>
