<template>
  <div class="feedback">
    <BContainer class="feedback__container">
      <div class="feedback__form">
        <TheFeedbackForm />
      </div>
      <div class="feedback__title">
        Є запитання? Заповніть форму зворотнього <br />
        зв’язку
      </div>
    </BContainer>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

import TheFeedbackForm from './TheFeedbackForm.vue';

export default Vue.extend({
  components: {
    TheFeedbackForm,
  },
});
</script>

<style lang="scss">
.feedback {
  padding-top: 150px;
  padding-bottom: 110px;
  margin-bottom: -130px;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__form {
    flex: 0 0 41%;
    max-width: 41%;
  }

  &__title {
    flex: 0 0 46%;
    max-width: 46%;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.7;
  }
}
</style>
