<template>
  <Layout>
    <main class="home-page page-content">
      <div style="height: 100vh" />
      <BlockVacancies />
    </main>
  </Layout>
</template>

<script lang="ts">
import Vue from 'vue';

import BlockVacancies from '~/components/blocks/BlockVacancies/index.vue';

export default Vue.extend({
  components: {
    BlockVacancies,
  },
});
</script>

<style lang="scss"></style>
