<script lang="ts">
import Vue, { VNode, CreateElement, PropType } from 'vue';

export default Vue.extend({
  props: {
    to: {
      type: String as PropType<string>,
      default: (): string => '',
    },
    variant: {
      type: String as PropType<string>,
      default: (): string => 'light',
    },
  },
  methods: {
    /**
     * Render button element
     * @param {CreateElement} h - Vue create element function
     * @returns {VNode} - Vue node
     */
    renderButton(h: CreateElement): VNode {
      return h(
        'button',
        {
          staticClass: 'base-button',
          class: {
            'base-button--light': this.variant === 'light',
            'base-button--dark': this.variant === 'dark',
          },
        },
        this.$slots.default
      );
    },
    /**
     * Render GLink element
     * @param {CreateElement} h - Vue create element function
     * @returns {VNode} - Vue node
     */
    renderLink(h: CreateElement): VNode {
      return h(
        'GLink',
        {
          staticClass: 'base-button',
          class: {
            'base-button--light': this.variant === 'light',
            'base-button--dark': this.variant === 'dark',
          },
          props: {
            to: this.to,
          },
        },
        this.$slots.default
      );
    },
  },
  render(h): VNode {
    if (this.to) {
      return this.renderLink(h);
    } else {
      return this.renderButton(h);
    }
  },
});
</script>

<style lang="scss">
.base-button {
  position: relative;
  display: block;
  width: max-content;
  padding: 20px 0;
  padding-left: 82px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.3;
  text-transform: uppercase;
  border: none;
  background-color: unset;
  transition: padding 0.3s cubic-bezier(0.47, 0, 0.745, 0.715),
    color 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);

  &--light {
    color: $white;
  }

  &--dark {
    color: $black;
  }

  &::before {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 55px;
    height: 12px;
    content: '';
    background-color: $error;
    transform: translateY(-50%);
    transition: background-color 0.3s cubic-bezier(0.47, 0, 0.745, 0.715),
      transform 0.3s cubic-bezier(0.47, 0, 0.745, 0.715),
      left 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
  }

  @include hover-focus-active {
    padding-right: 82px;
    padding-left: 0;
    color: $error;
    text-decoration: none;
  }

  &:hover::before,
  &:focus::before,
  &:active::before {
    left: calc(100% - 58px);
    transform: translateY(-50%) scaleY(0.2);
  }

  &--light:hover::before,
  &--light:focus::before,
  &--light:active::before {
    background-color: $white;
  }

  &--dark:hover::before,
  &--dark:focus::before,
  &--dark:active::before {
    background-color: $black;
  }
}
</style>
