<template>
  <div class="form-control" :class="{ 'form-control--focused': inFocus }">
    <label :for="id" class="form-control__label">
      <slot />
    </label>
    <input
      :id="id"
      :value="inputValue"
      v-bind="$attrs"
      class="form-control__input"
      @input="inputValue"
      @focus="inFocus = true"
      @blur="inFocus = false"
    />
  </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue';

export default Vue.extend({
  props: {
    id: {
      type: String as PropType<string>,
      required: true,
    },
    value: {
      type: String as PropType<string>,
      required: true,
    },
  },
  data() {
    return {
      inFocus: false,
    };
  },
  computed: {
    inputValue: {
      get(): string {
        return this.value;
      },
      set(event: any) {
        this.$emit('input', event.target.value);
      },
    },
  },
});
</script>

<style lang="scss">
.form-control {
  position: relative;
  font-weight: 500;

  &__label {
    position: absolute;
    margin-bottom: 0;
    top: 15px;
    width: 100%;
    font-size: 20px;
    line-height: 1.4;
    color: $black;
    transition: top 0.2s cubic-bezier(0.47, 0, 0.745, 0.715),
      font-size 0.2s cubic-bezier(0.47, 0, 0.745, 0.715),
      color 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);
  }

  &--focused &__label {
    top: -7px;
    font-size: 14px;
    color: rgba($color: $black, $alpha: 0.4);
  }

  &__input {
    width: 100%;
    padding: 15px 0;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4;
    color: $black;
    background-color: unset;
    border: none;
    border-bottom: 2px solid $black;

    @include hover-focus-active() {
      outline: none;
    }
  }
}
</style>
