<template>
  <footer class="footer">
    <div class="footer__container">
      <TheFooterLeft />
      <TheFooterRight />
    </div>
  </footer>
</template>

<script lang="ts">
import Vue from 'vue';

import TheFooterLeft from './TheFooterLeft.vue';
import TheFooterRight from './TheFooterRight.vue';

export default Vue.extend({
  components: {
    TheFooterLeft,
    TheFooterRight,
  },
});
</script>

<style lang="scss">
.footer {
  &__container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
}
</style>
