<template>
  <div class="footer-right">
    <LetterIcon class="footer-right__letter" width="345" height="480" />
    <div class="footer-right__сompanies">
      <TheFooterCompany
        v-for="(company, index) in сompanies"
        :key="index"
        :content="company"
      />
    </div>
    <TheFooterNavigation class="footer-right__navigation" />
    <TheFooterCopyright class="footer-right__copyright" />
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

import LetterIcon from '~/assets/icons/letter.svg';
import TheFooterCompany from './TheFooterCompany.vue';
import TheFooterNavigation from './TheFooterNavigation.vue';
import TheFooterCopyright from './TheFooterCopyright.vue';

export default Vue.extend({
  components: {
    LetterIcon,
    TheFooterCompany,
    TheFooterNavigation,
    TheFooterCopyright,
  },
  data() {
    return {
      сompanies: [
        {
          name: 'Чебатурочка - селянська курочка',
          socials: [
            {
              icon: 'facebookDark',
              link: 'https://www.facebook.com/',
            },
          ],
        },
        {
          name: 'Деліка',
          socials: [
            {
              icon: 'facebookDark',
              link: 'https://www.facebook.com/',
            },
            {
              icon: 'linkedinDark',
              link: 'https://www.linkedin.com/',
            },
            {
              icon: 'telegramDark',
              link: 'https://web.telegram.org/',
            },
          ],
        },
        {
          name: 'Епікур',
          socials: [
            {
              icon: 'facebookDark',
              link: 'https://www.facebook.com/',
            },
            {
              icon: 'telegramDark',
              link: 'https://web.telegram.org/',
            },
          ],
        },
      ],
    };
  },
});
</script>

<style lang="scss">
.footer-right {
  position: relative;
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-template-areas: 'сompanies navigation' 'copyright copyright';
  gap: 65px 130px;
  flex: 0 0 47.08%;
  max-width: 47.08%;
  min-height: 520px;
  padding-top: 55px;
  padding-right: 7.3%;
  padding-bottom: 40px;
  padding-left: 7.3%;
  background-color: $gray-200;

  &__letter {
    position: absolute;
    top: -120px;
    left: 0;
    z-index: -1;
    width: 345px;
    height: 480px;
    pointer-events: none;
  }

  &__сompanies {
    grid-area: сompanies;
  }

  &__navigation {
    grid-area: navigation;
  }

  &__copyright {
    grid-area: copyright;
  }
}
</style>
