<template>
  <ul class="footer-navigation">
    <li class="footer-navigation__item">
      <GLink class="footer-navigation__link" to="/">Про компанію</GLink>
    </li>
    <li class="footer-navigation__item">
      <GLink class="footer-navigation__link" to="/">Наше підприємство</GLink>
    </li>
    <li class="footer-navigation__item">
      <GLink class="footer-navigation__link" to="/">Новини компанії</GLink>
    </li>
    <li class="footer-navigation__item">
      <GLink class="footer-navigation__link" to="/">Старт кар’єри</GLink>
    </li>
    <li class="footer-navigation__item">
      <GLink class="footer-navigation__link" to="/">Наші бренди</GLink>
    </li>
    <li class="footer-navigation__item">
      <GLink class="footer-navigation__link" to="/">Контакти</GLink>
    </li>
    <li class="footer-navigation__item">
      <GLink class="footer-navigation__link" to="/">Privacy</GLink>
    </li>
  </ul>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({});
</script>

<style lang="scss">
.footer-navigation {
  @include list-unstyled();

  &__item {
    font-size: 18px;
    line-height: 1.4;
    color: $black;
  }

  &__link {
    display: inline-block;
    padding: 8px 0;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    transition: color 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
  }
}
</style>
