<template>
  <div class="footer-company">
    <div class="footer-company__name">
      {{ content.name }}
    </div>
    <Socials
      :socials="content.socials"
      variant="dark"
      class="footer-company__socials"
    />
  </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue';

import Socials from '~/components/shared/Socials.vue';

// FIXME: replace types
interface Social {
  icon: string;
  link: string;
}

interface ContentProps {
  name: string;
  socials: Social[];
}

export default Vue.extend({
  components: {
    Socials,
  },
  props: {
    content: {
      type: Object as PropType<ContentProps>,
      required: true,
    },
  },
});
</script>

<style lang="scss">
.footer-company {
  &:not(:last-of-type) {
    margin-bottom: 30px;
  }

  &__name {
    margin-bottom: 12px;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.6;
    text-transform: uppercase;
  }
}
</style>
