<template>
  <div class="footer-left">
    <LogoIcon class="footer-left__logo" width="250" height="140" />
    <ul class="footer-left__address">
      <li class="footer-left__address-item">
        010665, Ukraine, Volodymyr-Volynskyy, Name Street, 1
      </li>
      <li class="footer-left__address-item">
        Телефон гарячої линії: 0 800 215 800
      </li>
    </ul>
    <Socials :socials="socials" class="footer-left__socials" />
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

import LogoIcon from '~/assets/icons/logo.svg';
import Socials from '~/components/shared/Socials.vue';

export default Vue.extend({
  components: {
    LogoIcon,
    Socials,
  },
  data() {
    return {
      socials: [
        {
          icon: 'facebook',
          link: 'https://www.facebook.com/',
        },
        {
          icon: 'linkedin',
          link: 'https://www.linkedin.com/',
        },
        {
          icon: 'telegram',
          link: 'https://web.telegram.org/',
        },
        {
          icon: 'viber',
          link: 'https://www.viber.com/',
        },
      ],
    };
  },
});
</script>

<style lang="scss">
.footer-left {
  flex: 0 0 52.92%;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-areas: 'logo list' 'logo socials';
  gap: 30px 65px;
  max-width: 52.92%;
  padding: 100px 7.3%;
  background-color: $gray-900;
  min-height: 400px;

  &__logo {
    grid-area: logo;
    width: 250px;
    height: 140px;
    margin-top: 25px;
  }

  &__address {
    @include list-unstyled();

    grid-area: list;
    margin-bottom: 0;
  }

  &__address-item {
    font-size: 20px;
    line-height: 1.4;
    color: $white;

    &:not(:last-of-type) {
      margin-bottom: 30px;
    }
  }

  &__socials {
    grid-area: socials;
  }
}
</style>
