<template>
  <div class="copyright">
    <div class="copyright__main">
      © 2014 Володимир-Волинська птахофабрика. Всі права захищені.
    </div>
    <div class="copyright__develop">Created by CF.digital</div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({});
</script>

<style lang="scss">
.copyright {
  font-size: 14px;
  line-height: 1.35;
  color: $black;

  &__main {
    margin-bottom: 10px;
  }

  &__develop {
    font-weight: 600;
  }
}
</style>
