<template>
  <div class="layout">
    <div ref="main" class="layout__center">
      <slot />
    </div>
    <div ref="footer" class="layout__bottom">
      <TheFeedback />
      <TheFooter />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

import TheFeedback from '~/components/layouts/feedback/TheFeedback.vue';
import TheFooter from '~/components/layouts/footer/TheFooter.vue';

import parallaxAnimation from '~/mixins/parallax-animation';

export default Vue.extend({
  components: {
    TheFeedback,
    TheFooter,
  },
  mixins: [parallaxAnimation],
});
</script>

<style lang="scss">
.layout {
  padding-bottom: 0.1px;

  &__bottom {
    @include accelerate();

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
</style>
